<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DATA MINING</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>
<body>
     <div class="container">

      <div class="jumbotron">
        <h1>It is coming soon!</h1>
        <p class="lead">Thank you for your participation in this test！</p>
      </div>

      <div class="footer">
        <p>&copy; Berber & Daisy, Beijing Information Science and Technology University 2016</p>
      </div>

    </div> <!-- /container -->
</body>
</html>