<%- include header %>
<div class="container">
      <div class="masthead">
        <h3 class="text-muted">DATA MINING</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/userInfo">UserInfo</a></li>
            <li class="active"><a href="/gameCenter">GameCenter</a></li>
            <li><a href="/jdInfo">JDInfo</a></li>
          </ul>
        </nav>
      </div>
<div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="center-block" id="a" style="width:960px;height:640px;"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="center-block" id="b" style="width:960px;height:640px;"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="center-block" id="c" style="width:960px;height:640px;"></div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
</body>
<script type="text/javascript">
$(function() {
  $("#myCarousel").carousel('pause');
});
// 基于准备好的dom，初始化echarts实例
var ChartA = echarts.init(document.getElementById('a'));

var builderJson = {
  "all1024": 5937741228,
  "all1202": 6137340899,
  "charts1024": {
    "儿童游戏": 38347852,
    "体育竞速": 557149702,
    "棋牌天地": 628743088,
    "网络游戏": 291305323,
    "经营策略": 394675375,
    "角色扮演": 641538465,
    "飞行射击": 510751423,
    "动作冒险": 463830000,
    "休闲益智": 2411400000
  },
  "charts1202": {
    "儿童游戏": 42092107,
    "体育竞速": 556309093,
    "棋牌天地": 680127684,
    "网络游戏": 291869697,
    "经营策略": 399306358,
    "角色扮演": 706481762,
    "飞行射击": 492884198,
    "动作冒险": 469730000,
    "休闲益智": 2498540000
  }
};
var pie1024 = {
  "休闲益智": 2411400000,
  "儿童游戏": 38347852,
  "体育竞速": 557149702,
  "棋牌天地": 628743088,
  "网络游戏": 291305323,
  "经营策略": 394675375,
  "角色扮演": 641538465,
  "飞行射击": 510751423,
  "动作冒险": 463830000
};

var pie1202 = {
  "休闲益智": 2498540000,
  "儿童游戏": 42092107,
  "体育竞速": 556309093,
  "棋牌天地": 680127684,
  "网络游戏": 291869697,
  "经营策略": 399306358,
  "角色扮演": 706481762,
  "飞行射击": 492884198,
  "动作冒险": 469730000
};

var canvas = document.createElement('canvas');

optionA = {
    backgroundColor: {
        type: 'pattern',
        image: canvas,
        repeat: 'repeat'
    },
    tooltip: {},
    title: [{
        text: '游戏下载量',
        subtext: '2016年10月24日：' + builderJson.all1024+'     2016年12月02日：' + builderJson.all1202,
        x: '10%',
        textAlign: 'left'
    }],
    grid: [{
        top: 50,
        width: '50%',
        bottom: '45%',
        left: 10,
        containLabel: true
    }, {
        top: '55%',
        width: '50%',
        bottom: 0,
        left: 10,
        containLabel: true
    }],
    xAxis: [{
        type: 'value',
        max: builderJson.all,
        splitLine: {
            show: false
        }
    }, {
        type: 'value',
        max: builderJson.all,
        gridIndex: 1,
        splitLine: {
            show: false
        }
    }],
    yAxis: [{
        type: 'category',
        data: Object.keys(builderJson.charts1024),
        axisLabel: {
            interval: 0,
            rotate: 30
        },
        splitLine: {
            show: false
        }
    }, {
        gridIndex: 1,
        type: 'category',
        data: Object.keys(builderJson.charts1202),
        axisLabel: {
            interval: 0,
            rotate: 30
        },
        splitLine: {
            show: false
        }
    }],
    series: [{
        type: 'bar',
        stack: 'chart',
        z: 3,
        label: {
            normal: {
                position: 'right',
                show: true
            }
        },
        data: Object.keys(builderJson.charts1024).map(function (key) {
            return builderJson.charts1024[key];
        })
    }, {
        type: 'bar',
        stack: 'chart',
        silent: true,
        itemStyle: {
            normal: {
                color: '#eee'
            }
        },
        data: Object.keys(builderJson.charts1024).map(function (key) {
            return builderJson.all - builderJson.charts1024[key];
        })
    }, {
        type: 'bar',
        stack: 'component',
        xAxisIndex: 1,
        yAxisIndex: 1,
        z: 3,
        label: {
            normal: {
                position: 'right',
                show: true
            }
        },
        data: Object.keys(builderJson.charts1202).map(function (key) {
            return builderJson.charts1202[key];
        })
    }, {
        type: 'bar',
        stack: 'component',
        silent: true,
        xAxisIndex: 1,
        yAxisIndex: 1,
        itemStyle: {
            normal: {
                color: '#eee'
            }
        },
        data: Object.keys(builderJson.charts1202).map(function (key) {
            return builderJson.all - builderJson.charts1202[key];
        })
    }, {
        type: 'pie',
        radius: [0, '30%'],
        center: ['75%', '25%'],
        data: Object.keys(pie1024).map(function (key) {
            return {
                name: key.replace('.js', ''),
                value: pie1024[key]
            }
        })
    }, {
        type: 'pie',
        radius: [0, '30%'],
        center: ['75%', '75%'],
        data: Object.keys(pie1202).map(function (key) {
            return {
                name: key.replace('.js', ''),
                value: pie1202[key]
            }
        })
    }]
}
// 使用刚指定的配置项和数据显示图表。
ChartA.setOption(optionA);

var ChartC = echarts.init(document.getElementById('c'));
ChartC.showLoading();
var j = {
    "nodes": [{
        "color": "#c79f19",
        "label": "儿童游戏",
        "attributes": {},
        "y": -265.6326,
        "x": 694.03375,
        "id": "儿童游戏",
        "size": 30
    }, {
        "color": "#19c7b9",
        "label": "体育竞技",
        "attributes": {},
        "y": -682.1726,
        "x": -479.44443,
        "id": "体育竞技",
        "size": 60
    }, {
        "color": "#c71919",
        "label": "休闲益智",
        "attributes": {},
        "y": -224.0287,
        "x": 317.77667,
        "id": "休闲益智",
        "size": 100
    }, {
        "color": "#1919c7",
        "label": "棋牌天地",
        "attributes": {},
        "y": -230.14833,
        "x": -644.2716,
        "id": "棋牌天地",
        "size": 75
    }, {
        "color": "#8419c7",
        "label": "网络游戏",
        "attributes": {},
        "y": 241.89249,
        "x": -147.57906,
        "id": "网络游戏",
        "size": 30
    }, {
        "color": "#1984c7",
        "label": "经营策略",
        "attributes": {},
        "y": 41.25936,
        "x": 157.57562,
        "id": "经营策略",
        "size": 40
    }, {
        "color": "#19c719",
        "label": "角色扮演",
        "attributes": {},
        "y": 171.80579,
        "x": 599.53815,
        "id": "角色扮演",
        "size": 75
    }, {
        "color": "#c71919",
        "label": "飞行射击",
        "attributes": {},
        "y": 120.37976,
        "x": -710.59204,
        "id": "飞行射击",
        "size": 30
    }, {
        "color": "#c71969",
        "label": "动作冒险",
        "attributes": {},
        "y": -734.4221,
        "x": -75.53079,
        "id": "动作冒险",
        "size": 40
    }, {
        "color": "#199fc7",
        "label": "小编精选",
        "attributes": {},
        "y": 20.20147,
        "x": 1053.6621,
        "id": "小编精选",
        "size": 25
    }, {
        "color": "#19c7b9",
        "label": "角色扮演",
        "attributes": {},
        "y": 989.7358,
        "x": -517.65106,
        "id": "角色扮演1",
        "size": 24
    }, {
        "color": "#19c7b9",
        "label": "休闲",
        "attributes": {},
        "y": 986.30225,
        "x": -539.15283,
        "id": "休闲",
        "size": 23
    }, {
        "color": "#c71969",
        "label": "休闲益智",
        "attributes": {},
        "y": -574.97003,
        "x": 1197.1713,
        "id": "休闲益智1",
        "size": 22
    }, {
        "color": "#199fc7",
        "label": "儿童游戏",
        "attributes": {},
        "y": 185.75874,
        "x": -367.50992,
        "id": "儿童游戏1",
        "size": 21
    }, {
        "color": "#8419c7",
        "label": "360精品游戏",
        "attributes": {},
        "y": 203.21783,
        "x": -333.21362,
        "id": "360精品游戏",
        "size": 20
    }, {
        "color": "#199fc7",
        "label": "射击",
        "attributes": {},
        "y": 291.01462,
        "x": 101.217674,
        "id": "射击",
        "size": 19
    }, {
        "color": "#c74f19",
        "label": "竞速",
        "attributes": {},
        "y": 183.08963,
        "x": 1286.1066,
        "id": "竞速",
        "size": 17
    }, {
        "color": "#c71969",
        "label": "模拟经营",
        "attributes": {},
        "y": -971.328,
        "x": 310.00107,
        "id": "模拟经营1",
        "size": 16
    }, {
        "color": "#c78419",
        "label": "单机",
        "attributes": {},
        "y": 225.49977,
        "x": 13.505666,
        "id": "单机",
        "size": 15
    }, {
        "color": "#c71969",
        "label": "棋牌天地",
        "attributes": {},
        "y": -520.8965,
        "x": -451.1391,
        "id": "棋牌天地1",
        "size": 14
    }, {
        "color": "#6919c7",
        "label": "冒险",
        "attributes": {},
        "y": -386.996,
        "x": 8.449575,
        "id": "冒险",
        "size": 13
    }, {
        "color": "#1969c7",
        "label": "卡牌",
        "attributes": {},
        "y": 39.557953,
        "x": -379.84222,
        "id": "卡牌",
        "size": 12
    }, {
        "color": "#199fc7",
        "label": "动作",
        "attributes": {},
        "y": 32.93445,
        "x": 1071.2402,
        "id": "动作",
        "size": 11
    }, {
        "color": "#69c719",
        "label": "比赛",
        "attributes": {},
        "y": -501.3569,
        "x": -121.91505,
        "id": "比赛",
        "size": 10
    }, {
        "color": "#c7b919",
        "label": "动作冒险",
        "attributes": {},
        "y": 138.83679,
        "x": -316.52774,
        "id": "动作冒险1",
        "size": 9
    }, {
        "color": "#c71934",
        "label": "战斗",
        "attributes": {},
        "y": 1096.0394,
        "x": -553.1255,
        "id": "战斗",
        "size": 8
    }, {
        "color": "#c71934",
        "label": "网络游戏",
        "attributes": {},
        "y": 1093.3612,
        "x": -543.5085,
        "id": "网络游戏1",
        "size": 7
    }, {
        "color": "#c74f19",
        "label": "网游",
        "attributes": {},
        "y": 321.36972,
        "x": 618.49976,
        "id": "网游",
        "size": 6
    }],
    "edges": [{
        "sourceID": "网游",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "网游",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "网游",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "网游",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "网游",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "网游",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "网游",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "网游",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "网络游戏1",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "网络游戏1",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "网络游戏1",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "网络游戏1",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "网络游戏1",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "网络游戏1",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "网络游戏1",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "战斗",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "战斗",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "战斗",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "战斗",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "战斗",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "战斗",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "战斗",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "动作冒险1",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "动作冒险1",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "动作冒险1",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "动作冒险1",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "动作冒险1",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "动作冒险1",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "动作冒险1",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "比赛",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "比赛",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "比赛",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "比赛",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "比赛",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "比赛",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "动作",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "动作",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "动作",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "动作",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "动作",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "动作",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "动作",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "卡牌",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "卡牌",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "卡牌",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "卡牌",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "卡牌",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "冒险",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "冒险",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "冒险",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "冒险",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "冒险",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "冒险",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "冒险",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "棋牌天地1",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "棋牌天地1",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "棋牌天地1",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "棋牌天地1",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "单机",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "模拟经营1",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "模拟经营1",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "模拟经营1",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "模拟经营1",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "模拟经营1",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "模拟经营1",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "竞速",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "竞速",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "竞速",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "竞速",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "射击",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "射击",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "射击",
        "attributes": {},
        "targetID": "儿童游戏",
        "size": 1
    }, {
        "sourceID": "射击",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "射击",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "射击",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "射击",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "儿童游戏",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "360精品游戏",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "儿童游戏1",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "儿童游戏1",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "儿童游戏1",
        "attributes": {},
        "targetID": "儿童游戏",
        "size": 1
    }, {
        "sourceID": "儿童游戏1",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "儿童游戏1",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "儿童游戏1",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "儿童游戏1",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "儿童游戏",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "休闲益智1",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "儿童游戏",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "休闲",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "角色扮演1",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "角色扮演1",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "角色扮演1",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "角色扮演1",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "角色扮演1",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "角色扮演1",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "休闲益智",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "体育竞技",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "儿童游戏",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "动作冒险",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "棋牌天地",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "经营策略",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "网络游戏",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "角色扮演",
        "size": 1
    }, {
        "sourceID": "小编精选",
        "attributes": {},
        "targetID": "飞行射击",
        "size": 1
    }]
};

ChartC.hideLoading();
optionC = {
    title: {
        text: '360 游戏中心游戏分类'
    },
    animationDurationUpdate: 1500,
    animationEasingUpdate: 'quinticInOut',
    series: [{
        type: 'graph',
        layout: 'none',
        // progressiveThreshold: 700,
        data: j.nodes.map(function(node) {
            return {
                x: node.x,
                y: node.y,
                id: node.id,
                name: node.label,
                symbolSize: node.size,
                itemStyle: {
                    normal: {
                        color: node.color
                    }
                }
            };
        }),
        edges: j.edges.map(function(edge) {
            return {
                source: edge.sourceID,
                target: edge.targetID
            };
        }),
        label: {
            emphasis: {
                position: 'right',
                show: true
            }
        },
        roam: true,
        focusNodeAdjacency: true,
        lineStyle: {
            normal: {
                width: 0.5,
                curveness: 0.3,
                opacity: 0.7
            }
        }
    }]
}
ChartC.setOption(optionC);
</script>
</html>