<%- include header %>
<div class="container">
      <div class="masthead">
        <h3 class="text-muted">DATA MINING</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/userInfo">UserInfo</a></li>
            <li><a href="/gameCenter">GameCenter</a></li>
            <li><a href="/jdInfo">JDInfo</a></li>
          </ul>
        </nav>
      </div>
<div id="myCarousel" class="carousel slide" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
             <div class="center-block" id="a" style="width:800px;height:600px;"></div>
    
          </div>
        </div>
        <div class="item">
          <div class="row">
             <div class="center-block" id="b" style="width:800px;height:600px;"></div>
    
          </div>
        </div>
        <div class="item">
          <div class="row">
             <div class="center-block" id="c" style="width:800px;height:600px;"></div>
    
          </div>
        </div>
        <div class="item">
          <div class="row">
             <div class="center-block" id="d" style="width:800px;height:600px;"></div>
    
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
</body> 
<script src="/js/china.js" charset ="utf-8"></script> 
<script type="text/javascript">
$(function() {
  $("#myCarousel").carousel('pause');
});
// 基于准备好的dom，初始化echarts实例
var myChartA = echarts.init(document.getElementById('a'));

var allDataA = {
  "citys": [{
    "name": "北京",
    "value": [116.4551, 40.2539],
    "symbolSize": 20,
    "itemStyle": {
      "normal": {
        "color": "#58B3CC"
      }
    }
  }, {
    "name": "杭州",
    "value": [119.5313, 29.8773],
    "symbolSize": 19,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "南京",
    "value": [118.8062, 31.9208],
    "symbolSize": 18,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "上海",
    "value": [121.4648, 31.2891],
    "symbolSize": 17,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "广州",
    "value": [113.5107, 23.2196],
    "symbolSize": 16,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "湖州",
    "value": [119.8608, 30.7782],
    "symbolSize": 15,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "兰州",
    "value": [103.5901, 36.3043],
    "symbolSize": 14,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "郑州",
    "value": [113.4668, 34.6234],
    "symbolSize": 13,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "武汉",
    "value": [114.3896, 30.6628],
    "symbolSize": 12,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "天津",
    "value": [117.4219, 39.4189],
    "symbolSize": 11,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "深圳",
    "value": [114.5435, 22.5439],
    "symbolSize": 10,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "金华",
    "value": [120.0037, 29.1028],
    "symbolSize": 9,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "成都",
    "value": [103.9526, 30.7617],
    "symbolSize": 8,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "济南",
    "value": [117.1582, 36.8701],
    "symbolSize": 7,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "沈阳",
    "value": [123.1238, 42.1216],
    "symbolSize": 6,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "太原",
    "value": [112.3352, 37.9413],
    "symbolSize": 5,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "重庆",
    "value": [107.7539, 30.1904],
    "symbolSize": 4,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "福州",
    "value": [119.4543, 25.9222],
    "symbolSize": 3,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "南昌",
    "value": [116.0046, 28.6633],
    "symbolSize": 2,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }, {
    "name": "丽水",
    "value": [119.5642, 28.1854],
    "symbolSize": 1,
    "itemStyle": {
      "normal": {
        "color": "#F58158"
      }
    }
  }],
  "moveLines": [{
    "fromName": "北京",
    "toName": "北京",
    "coords": [
      [116.4551, 40.2539],
      [116.4551, 40.2539]
    ]
  }, {
    "fromName": "北京",
    "toName": "杭州",
    "coords": [
      [116.4551, 40.2539],
      [119.5313, 29.8773]
    ]
  }, {
    "fromName": "北京",
    "toName": "南京",
    "coords": [
      [116.4551, 40.2539],
      [118.8062, 31.9208]
    ]
  }, {
    "fromName": "北京",
    "toName": "上海",
    "coords": [
      [116.4551, 40.2539],
      [121.4648, 31.2891]
    ]
  }, {
    "fromName": "北京",
    "toName": "广州",
    "coords": [
      [116.4551, 40.2539],
      [113.5107, 23.2196]
    ]
  }, {
    "fromName": "北京",
    "toName": "湖州",
    "coords": [
      [116.4551, 40.2539],
      [119.8608, 30.7782]
    ]
  }, {
    "fromName": "北京",
    "toName": "兰州",
    "coords": [
      [116.4551, 40.2539],
      [103.5901, 36.3043]
    ]
  }, {
    "fromName": "北京",
    "toName": "郑州",
    "coords": [
      [116.4551, 40.2539],
      [113.4668, 34.6234]
    ]
  }, {
    "fromName": "北京",
    "toName": "武汉",
    "coords": [
      [116.4551, 40.2539],
      [114.3896, 30.6628]
    ]
  }, {
    "fromName": "北京",
    "toName": "天津",
    "coords": [
      [116.4551, 40.2539],
      [117.4219, 39.4189]
    ]
  }, {
    "fromName": "北京",
    "toName": "深圳",
    "coords": [
      [116.4551, 40.2539],
      [114.5435, 22.5439]
    ]
  }, {
    "fromName": "北京",
    "toName": "金华",
    "coords": [
      [116.4551, 40.2539],
      [120.0037, 29.1028]
    ]
  }, {
    "fromName": "北京",
    "toName": "成都",
    "coords": [
      [116.4551, 40.2539],
      [103.9526, 30.7617]
    ]
  }, {
    "fromName": "北京",
    "toName": "济南",
    "coords": [
      [116.4551, 40.2539],
      [117.1582, 36.8701]
    ]
  }, {
    "fromName": "北京",
    "toName": "沈阳",
    "coords": [
      [116.4551, 40.2539],
      [123.1238, 42.1216]
    ]
  }, {
    "fromName": "北京",
    "toName": "太原",
    "coords": [
      [116.4551, 40.2539],
      [112.3352, 37.9413]
    ]
  }, {
    "fromName": "北京",
    "toName": "重庆",
    "coords": [
      [116.4551, 40.2539],
      [107.7539, 30.1904]
    ]
  }, {
    "fromName": "北京",
    "toName": "福州",
    "coords": [
      [116.4551, 40.2539],
      [119.4543, 25.9222]
    ]
  }, {
    "fromName": "北京",
    "toName": "南昌",
    "coords": [
      [116.4551, 40.2539],
      [116.0046, 28.6633]
    ]
  }, {
    "fromName": "北京",
    "toName": "丽水",
    "coords": [
      [116.4551, 40.2539],
      [119.5642, 28.1854]
    ]
  }]
};
optionA = {
  backgroundColor: '#404a59',
  title: {
    text: '流量-地域图',
    left: 'center',
    textStyle: {
      color: '#fff'
    }
  },
  legend: {
    show: false,
    orient: 'vertical',
    top: 'bottom',
    left: 'right',
    data: ['地点', '线路'],
    textStyle: {
      color: '#fff'
    }
  },
  geo: {
    map: 'china',
    label: {
      emphasis: {
        show: false
      }
    },
    roam: true,
    itemStyle: {
      normal: {
        areaColor: '#323c48',
        borderColor: '#404a59'
      },
      emphasis: {
        areaColor: '#2a333d'
      }
    }
  },
  series: [{
    name: '地点',
    type: 'effectScatter',
    coordinateSystem: 'geo',
    zlevel: 2,
    rippleEffect: {
      brushType: 'stroke'
    },
    label: {
      emphasis: {
        show: true,
        position: 'right',
        formatter: '{b}'
      }
    },
    symbolSize: 2,
    showEffectOn: 'render',
    itemStyle: {
      normal: {
        color: '#46bee9'
      }
    },
    data: allDataA.citys
  }, {
    name: '线路',
    type: 'lines',
    coordinateSystem: 'geo',
    zlevel: 2,
    large: true,
    effect: {
      show: true,
      constantSpeed: 30,
      symbol: 'pin',
      symbolSize: 15,
      trailLength: 0,
    },
    lineStyle: {
      normal: {
        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
          offset: 0,
          color: '#58B3CC'
        }, {
          offset: 1,
          color: '#F58158'
        }], false),
        width: 3,
        opacity: 0.2,
        curveness: 0.1
      }
    },
    data: allDataA.moveLines
  }]
};

// 使用刚指定的配置项和数据显示图表。
myChartA.setOption(optionA);

var myChartB = echarts.init(document.getElementById('b'));
optionB = {
    title : {
        text: '流量-应用图',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        x : 'center',
        y : 'bottom',
        data:['so.com',
'YouKu',
'DaZhongDianPing',
'alimama.com',
'WeiXin',
'51.la',
'caijing.com.cn',
'autohome.com.cn',
'RayLi',
'QQ_Browsing',
'Sina_Common',
'aliyun.com',
'LeTV',
'TaoBao',
'QiYi',
'hao123.com',
'sogou.com',
'360Buy',
'cnzz.com',
'BaiDu']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true,
                type: ['pie', 'funnel']
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'面积模式',
            type:'pie',
            radius : [30, 110],
            center : ['50%', '50%'],
            roseType : 'area',
            data:[
                {value:10026, name:'so.com'},
{value:10030, name:'YouKu'},
{value:10922, name:'DaZhongDianPing'},
{value:11191, name:'alimama.com'},
{value:11598, name:'WeiXin'},
{value:12932, name:'51.la'},
{value:14078, name:'caijing.com.cn'},
{value:17241, name:'autohome.com.cn'},
{value:22160, name:'RayLi'},
{value:22573, name:'QQ_Browsing'},
{value:23532, name:'Sina_Common'},
{value:27243, name:'aliyun.com'},
{value:30289, name:'LeTV'},
{value:42655, name:'TaoBao'},
{value:45934, name:'QiYi'},
{value:65344, name:'hao123.com'},
{value:66849, name:'sogou.com'},
{value:79223, name:'360Buy'},
{value:111716, name:'cnzz.com'},
{value:328961, name:'BaiDu'}
            ]
        }
    ]
};

myChartB.setOption(optionB);

var myChartC = echarts.init(document.getElementById('c'));
var data = [
  [
    [28000, 1115, 21160000, '10.18.1.115', '全校用户'],
    [314000, 127208, 21170000, '113.201.127.208', '全校用户'],
    [11000, 11177, 21190000, '10.1.11.177', '全校用户'],
    [135000, 248056, 21230000, '95.40.248.56', '全校用户'],
    [26000, 4196, 21390000, '10.16.4.196', '全校用户'],
    [12000, 248197, 21440000, '10.2.248.197', '全校用户'],
    [12000, 235103, 21600000, '10.2.235.103', '全校用户'],
    [11000, 17002, 21740000, '10.1.17.2', '全校用户'],
    [360000, 39028, 21880000, '192.168.39.28', '全校用户'],
    [135000, 248058, 22040000, '95.40.248.58', '全校用户'],
    [25000, 157026, 22290000, '10.15.157.26', '全校用户'],
    [279000, 45159, 22410000, '211.68.45.159', '全校用户'],
    [90000, 207122, 22560000, '71.19.207.122', '全校用户'],
    [12000, 239202, 23570000, '10.2.239.202', '全校用户'],
    [279000, 42012, 24270000, '211.68.42.12', '全校用户'],
    [279000, 46075, 24410000, '211.68.46.75', '全校用户'],
    [28000, 6149, 24910000, '10.18.6.149', '全校用户'],
    [26000, 44018, 25040000, '10.16.44.18', '全校用户'],
    [12000, 202231, 25380000, '10.2.202.231', '全校用户'],
    [267000, 93136, 25400000, '93.174.93.136', '全校用户'],
    [12000, 156055, 25440000, '10.2.156.55', '全校用户'],
    [360000, 39003, 26100000, '192.168.39.3', '全校用户'],
    [26000, 44051, 26430000, '10.16.44.51', '全校用户'],
    [12000, 251102, 27030000, '10.2.251.102', '全校用户'],
    [26000, 55150, 27360000, '10.16.55.150', '全校用户'],
    [279000, 36163, 27510000, '211.68.36.163', '全校用户'],
    [293000, 95201, 27990000, '211.82.95.201', '全校用户'],
    [11000, 89132, 28000000, '10.1.89.132', '全校用户'],
    [293000, 95249, 28030000, '211.82.95.249', '全校用户'],
    [293000, 95229, 28060000, '211.82.95.229', '全校用户'],
    [293000, 95212, 28120000, '211.82.95.212', '全校用户'],
    [293000, 95239, 28220000, '211.82.95.239', '全校用户'],
    [293000, 95227, 28240000, '211.82.95.227', '全校用户'],
    [293000, 95181, 28300000, '211.82.95.181', '全校用户'],
    [293000, 95182, 28330000, '211.82.95.182', '全校用户'],
    [293000, 95206, 28370000, '211.82.95.206', '全校用户'],
    [293000, 95210, 28370000, '211.82.95.210', '全校用户'],
    [293000, 95196, 28450000, '211.82.95.196', '全校用户'],
    [259000, 144152, 28540000, '110.149.144.152', '全校用户'],
    [293000, 95230, 28680000, '211.82.95.230', '全校用户'],
    [293000, 95172, 28690000, '211.82.95.172', '全校用户'],
    [293000, 95244, 28700000, '211.82.95.244', '全校用户'],
    [293000, 95165, 28700000, '211.82.95.165', '全校用户'],
    [293000, 95179, 28750000, '211.82.95.179', '全校用户'],
    [293000, 95248, 28760000, '211.82.95.248', '全校用户'],
    [293000, 95194, 28770000, '211.82.95.194', '全校用户'],
    [293000, 95190, 28790000, '211.82.95.190', '全校用户'],
    [293000, 95161, 28820000, '211.82.95.161', '全校用户'],
    [293000, 95232, 28850000, '211.82.95.232', '全校用户'],
    [293000, 95187, 28870000, '211.82.95.187', '全校用户'],
    [293000, 95233, 28900000, '211.82.95.233', '全校用户'],
    [293000, 95211, 28920000, '211.82.95.211', '全校用户'],
    [293000, 97212, 28920000, '211.82.97.212', '全校用户'],
    [293000, 95235, 28950000, '211.82.95.235', '全校用户'],
    [293000, 95200, 28970000, '211.82.95.200', '全校用户'],
    [293000, 95173, 29000000, '211.82.95.173', '全校用户'],
    [293000, 95223, 29030000, '211.82.95.223', '全校用户'],
    [293000, 95197, 29060000, '211.82.95.197', '全校用户'],
    [293000, 95251, 29080000, '211.82.95.251', '全校用户'],
    [293000, 95242, 29100000, '211.82.95.242', '全校用户'],
    [293000, 95205, 29140000, '211.82.95.205', '全校用户'],
    [293000, 95189, 29150000, '211.82.95.189', '全校用户'],
    [293000, 95213, 29220000, '211.82.95.213', '全校用户'],
    [293000, 95247, 29290000, '211.82.95.247', '全校用户'],
    [293000, 95186, 29330000, '211.82.95.186', '全校用户'],
    [293000, 95216, 29330000, '211.82.95.216', '全校用户'],
    [293000, 95166, 29400000, '211.82.95.166', '全校用户'],
    [293000, 95188, 29450000, '211.82.95.188', '全校用户'],
    [293000, 95245, 29460000, '211.82.95.245', '全校用户'],
    [293000, 95222, 29500000, '211.82.95.222', '全校用户'],
    [293000, 95169, 29540000, '211.82.95.169', '全校用户'],
    [293000, 95160, 29560000, '211.82.95.160', '全校用户'],
    [293000, 95219, 29630000, '211.82.95.219', '全校用户'],
    [293000, 95158, 29670000, '211.82.95.158', '全校用户'],
    [293000, 95170, 29680000, '211.82.95.170', '全校用户'],
    [293000, 95255, 29690000, '211.82.95.255', '全校用户'],
    [293000, 95231, 29720000, '211.82.95.231', '全校用户'],
    [293000, 95250, 29720000, '211.82.95.250', '全校用户'],
    [293000, 95177, 29730000, '211.82.95.177', '全校用户'],
    [293000, 95183, 29740000, '211.82.95.183', '全校用户'],
    [293000, 95167, 29760000, '211.82.95.167', '全校用户'],
    [293000, 95168, 29760000, '211.82.95.168', '全校用户'],
    [293000, 95207, 29770000, '211.82.95.207', '全校用户'],
    [293000, 95163, 29770000, '211.82.95.163', '全校用户'],
    [293000, 95221, 29780000, '211.82.95.221', '全校用户'],
    [293000, 95204, 29780000, '211.82.95.204', '全校用户'],
    [293000, 95236, 29800000, '211.82.95.236', '全校用户'],
    [293000, 95192, 29810000, '211.82.95.192', '全校用户'],
    [293000, 95203, 29820000, '211.82.95.203', '全校用户'],
    [293000, 95226, 29850000, '211.82.95.226', '全校用户'],
    [293000, 95254, 29860000, '211.82.95.254', '全校用户'],
    [293000, 95253, 29860000, '211.82.95.253', '全校用户'],
    [11000, 45201, 29910000, '10.1.45.201', '全校用户'],
    [293000, 95191, 29930000, '211.82.95.191', '全校用户'],
    [293000, 95252, 29940000, '211.82.95.252', '全校用户'],
    [293000, 95159, 30040000, '211.82.95.159', '全校用户'],
    [293000, 95218, 30080000, '211.82.95.218', '全校用户'],
    [293000, 95243, 30130000, '211.82.95.243', '全校用户'],
    [293000, 95240, 30150000, '211.82.95.240', '全校用户'],
    [293000, 95184, 30210000, '211.82.95.184', '全校用户'],
    [293000, 95174, 30210000, '211.82.95.174', '全校用户'],
    [293000, 95176, 30240000, '211.82.95.176', '全校用户'],
    [293000, 95224, 30300000, '211.82.95.224', '全校用户'],
    [293000, 95217, 30350000, '211.82.95.217', '全校用户'],
    [293000, 95208, 30390000, '211.82.95.208', '全校用户'],
    [293000, 95178, 30430000, '211.82.95.178', '全校用户'],
    [293000, 95198, 30460000, '211.82.95.198', '全校用户'],
    [293000, 95228, 30470000, '211.82.95.228', '全校用户'],
    [293000, 95202, 30480000, '211.82.95.202', '全校用户'],
    [293000, 95185, 30550000, '211.82.95.185', '全校用户'],
    [293000, 95175, 30590000, '211.82.95.175', '全校用户'],
    [293000, 95220, 30620000, '211.82.95.220', '全校用户'],
    [293000, 95171, 30680000, '211.82.95.171', '全校用户'],
    [293000, 95193, 30730000, '211.82.95.193', '全校用户'],
    [293000, 95225, 30740000, '211.82.95.225', '全校用户'],
    [293000, 95209, 30750000, '211.82.95.209', '全校用户'],
    [293000, 95164, 30760000, '211.82.95.164', '全校用户'],
    [293000, 95180, 30810000, '211.82.95.180', '全校用户'],
    [293000, 95195, 30900000, '211.82.95.195', '全校用户'],
    [293000, 95199, 30980000, '211.82.95.199', '全校用户'],
    [293000, 95234, 31210000, '211.82.95.234', '全校用户'],
    [293000, 95214, 31250000, '211.82.95.214', '全校用户'],
    [293000, 95162, 31350000, '211.82.95.162', '全校用户'],
    [28000, 33037, 31360000, '10.18.33.37', '全校用户'],
    [293000, 95241, 31400000, '211.82.95.241', '全校用户'],
    [123000, 78026, 31430000, '59.64.78.26', '全校用户'],
    [293000, 95237, 31430000, '211.82.95.237', '全校用户'],
    [293000, 95238, 31450000, '211.82.95.238', '全校用户'],
    [293000, 95246, 31480000, '211.82.95.246', '全校用户'],
    [293000, 95215, 31880000, '211.82.95.215', '全校用户'],
    [173000, 4232, 32600000, '103.70.4.232', '全校用户'],
    [11000, 16077, 33710000, '10.1.16.77', '全校用户'],
    [26000, 55002, 35550000, '10.16.55.2', '全校用户'],
    [220000, 72026, 36490000, '88.132.72.26', '全校用户'],
    [279000, 32204, 36580000, '211.68.32.204', '全校用户'],
    [157000, 139127, 36830000, '42.115.139.127', '全校用户'],
    [360000, 20043, 38150000, '192.168.20.43', '全校用户'],
    [11000, 102087, 38650000, '10.1.102.87', '全校用户'],
    [279000, 36177, 38950000, '211.68.36.177', '全校用户'],
    [12000, 251224, 39290000, '10.2.251.224', '全校用户'],
    [196000, 84004, 39500000, '117.79.84.4', '全校用户'],
    [279000, 36199, 40620000, '211.68.36.199', '全校用户'],
    [311000, 73126, 40970000, '60.251.73.126', '全校用户'],
    [12000, 232079, 42160000, '10.2.232.79', '全校用户'],
    [279000, 38253, 42810000, '211.68.38.253', '全校用户'],
    [202000, 205073, 42930000, '185.17.205.73', '全校用户'],
    [123000, 78006, 43190000, '59.64.78.6', '全校用户'],
    [396000, 140234, 43320000, '212.184.140.234', '全校用户'],
    [279000, 45208, 44510000, '211.68.45.208', '全校用户'],
    [293000, 103220, 44630000, '211.82.103.220', '全校用户'],
    [123000, 78009, 45160000, '59.64.78.9', '全校用户'],
    [123000, 78010, 45400000, '59.64.78.10', '全校用户'],
    [322000, 126084, 46850000, '223.99.126.84', '全校用户'],
    [267000, 2122, 48770000, '107.160.2.122', '全校用户'],
    [279000, 36218, 49760000, '211.68.36.218', '全校用户'],
    [279000, 36206, 50580000, '211.68.36.206', '全校用户'],
    [123000, 78008, 51150000, '59.64.78.8', '全校用户'],
    [279000, 46060, 52450000, '211.68.46.60', '全校用户'],
    [147000, 100134, 53510000, '120.27.100.134', '全校用户'],
    [144000, 190159, 53570000, '120.24.190.159', '全校用户'],
    [360000, 29007, 53920000, '192.168.29.7', '全校用户'],
    [286000, 17231, 54180000, '117.169.17.231', '全校用户'],
    [192000, 205134, 54330000, '71.121.205.134', '全校用户'],
    [330000, 205025, 55790000, '120.210.205.25', '全校用户'],
    [184000, 45153, 56430000, '111.73.45.153', '全校用户'],
    [293000, 99033, 57170000, '211.82.99.33', '全校用户'],
    [425000, 176116, 57180000, '218.207.176.116', '全校用户'],
    [279000, 36195, 57830000, '211.68.36.195', '全校用户'],
    [26000, 44050, 57830000, '10.16.44.50', '全校用户'],
    [329000, 173103, 57860000, '114.215.173.103', '全校用户'],
    [278000, 34111, 58070000, '218.60.34.111', '全校用户'],
    [279000, 36213, 58110000, '211.68.36.213', '全校用户'],
    [279000, 46078, 58440000, '211.68.46.78', '全校用户'],
    [162000, 78038, 58440000, '80.82.78.38', '全校用户'],
    [336000, 222160, 59350000, '125.211.222.160', '全校用户'],
    [236000, 81143, 60260000, '122.114.81.143', '全校用户'],
    [279000, 36148, 60540000, '211.68.36.148', '全校用户'],
    [372000, 24012, 60910000, '123.249.24.12', '全校用户'],
    [302000, 78077, 61550000, '93.209.78.77', '全校用户'],
    [275000, 100, 62960000, '91.184.0.100', '全校用户'],
    [275000, 140189, 62980000, '108.167.140.189', '全校用户'],
    [279000, 195035, 65760000, '218.61.195.35', '全校用户'],
    [279000, 46066, 66050000, '211.68.46.66', '全校用户'],
    [279000, 37010, 66540000, '211.68.37.10', '全校用户'],
    [288000, 232152, 66660000, '124.164.232.152', '全校用户'],
    [231000, 108109, 68230000, '151.80.108.109', '全校用户'],
    [429000, 238180, 69370000, '182.247.238.180', '全校用户'],
    [236000, 160241, 69510000, '122.114.160.241', '全校用户'],
    [232000, 13237, 70060000, '59.173.13.237', '全校用户'],
    [279000, 36192, 70400000, '211.68.36.192', '全校用户'],
    [279000, 45018, 75540000, '211.68.45.18', '全校用户'],
    [83000, 237196, 75810000, '81.2.237.196', '全校用户'],
    [356000, 133048, 76670000, '124.232.133.48', '全校用户'],
    [293000, 101251, 77470000, '211.82.101.251', '全校用户'],
    [127000, 228155, 77510000, '103.24.228.155', '全校用户'],
    [190000, 109232, 78180000, '125.65.109.232', '全校用户'],
    [279000, 36154, 78520000, '211.68.36.154', '全校用户'],
    [123000, 78005, 78860000, '59.64.78.5', '全校用户'],
    [425000, 177087, 83870000, '221.204.177.87', '全校用户'],
    [433000, 213097, 85230000, '222.211.213.97', '全校用户'],
    [205000, 140097, 86370000, '149.56.140.97', '全校用户'],
    [279000, 36188, 86450000, '211.68.36.188', '全校用户'],
    [322000, 9211, 86870000, '121.201.9.211', '全校用户'],
    [362000, 236208, 94890000, '118.244.236.208', '全校用户'],
    [360000, 157150, 96590000, '211.149.157.150', '全校用户'],
    [279000, 36200, 97270000, '211.68.36.200', '全校用户'],
    [471000, 130188, 98540000, '222.249.130.188', '全校用户'],
    [105000, 2111, 100290000, '59.46.2.111', '全校用户'],
    [108000, 46177, 100600000, '59.49.46.177', '全校用户'],
    [279000, 36203, 102260000, '211.68.36.203', '全校用户'],
    [212000, 27011, 103360000, '93.119.27.11', '全校用户'],
    [279000, 46076, 105210000, '211.68.46.76', '全校用户'],
    [279000, 36207, 107720000, '211.68.36.207', '全校用户'],
    [248000, 9011, 108040000, '73.175.9.11', '全校用户'],
    [279000, 38077, 108270000, '211.68.38.77', '全校用户'],
    [153000, 198240, 108410000, '87.66.198.240', '全校用户'],
    [208000, 140220, 108640000, '185.23.140.220', '全校用户'],
    [275000, 195145, 108970000, '46.229.195.145', '全校用户'],
    [279000, 36216, 110790000, '211.68.36.216', '全校用户'],
    [279000, 46071, 111480000, '211.68.46.71', '全校用户'],
    [26000, 6038, 112360000, '10.16.6.38', '全校用户'],
    [279000, 36182, 118030000, '211.68.36.182', '全校用户'],
    [279000, 36181, 118650000, '211.68.36.181', '全校用户'],
    [279000, 36193, 120760000, '211.68.36.193', '全校用户'],
    [222000, 175124, 121210000, '99.123.175.124', '全校用户'],
    [240000, 157153, 121310000, '124.116.157.153', '全校用户'],
    [471000, 130134, 122640000, '222.249.130.134', '全校用户'],
    [146000, 92077, 125810000, '120.26.92.77', '全校用户'],
    [279000, 36149, 125870000, '211.68.36.149', '全校用户'],
    [279000, 36147, 127660000, '211.68.36.147', '全校用户'],
    [12000, 192163, 143470000, '10.2.192.163', '全校用户'],
    [279000, 46067, 155300000, '211.68.46.67', '全校用户'],
    [279000, 46061, 160790000, '211.68.46.61', '全校用户'],
    [279000, 46085, 160880000, '211.68.46.85', '全校用户'],
    [279000, 36215, 162280000, '211.68.36.215', '全校用户'],
    [279000, 36165, 162730000, '211.68.36.165', '全校用户'],
    [279000, 36170, 184350000, '211.68.36.170', '全校用户'],
    [343000, 230158, 185910000, '192.151.230.158', '全校用户'],
    [279000, 36222, 189670000, '211.68.36.222', '全校用户'],
    [279000, 36178, 199690000, '211.68.36.178', '全校用户'],
    [279000, 46072, 206100000, '211.68.46.72', '全校用户'],
    [279000, 36187, 207030000, '211.68.36.187', '全校用户'],
    [279000, 36176, 212820000, '211.68.36.176', '全校用户'],
    [279000, 46064, 223760000, '211.68.46.64', '全校用户'],
    [279000, 36180, 231120000, '211.68.36.180', '全校用户'],
    [279000, 46053, 232380000, '211.68.46.53', '全校用户'],
    [279000, 36217, 233800000, '211.68.36.217', '全校用户'],
    [279000, 46065, 239200000, '211.68.46.65', '全校用户'],
    [279000, 36159, 239310000, '211.68.36.159', '全校用户'],
    [279000, 46063, 245170000, '211.68.46.63', '全校用户'],
    [279000, 46068, 246110000, '211.68.46.68', '全校用户'],
    [279000, 36183, 248470000, '211.68.36.183', '全校用户'],
    [279000, 36166, 250150000, '211.68.36.166', '全校用户'],
    [279000, 36224, 250740000, '211.68.36.224', '全校用户'],
    [279000, 46059, 255430000, '211.68.46.59', '全校用户'],
    [279000, 36184, 273140000, '211.68.36.184', '全校用户'],
    [279000, 46055, 282870000, '211.68.46.55', '全校用户'],
    [279000, 36155, 292490000, '211.68.36.155', '全校用户'],
    [279000, 46087, 296460000, '211.68.46.87', '全校用户'],
    [279000, 36209, 297660000, '211.68.36.209', '全校用户'],
    [279000, 46069, 304870000, '211.68.46.69', '全校用户'],
    [279000, 46086, 310840000, '211.68.46.86', '全校用户'],
    [11000, 14030, 327240000, '10.1.14.30', '全校用户'],
    [279000, 46077, 334500000, '211.68.46.77', '全校用户'],
    [279000, 36214, 346360000, '211.68.36.214', '全校用户'],
    [279000, 46088, 357300000, '211.68.46.88', '全校用户'],
    [279000, 46062, 357620000, '211.68.46.62', '全校用户'],
    [279000, 36191, 372770000, '211.68.36.191', '全校用户'],
    [279000, 36225, 385590000, '211.68.36.225', '全校用户'],
    [279000, 46058, 397330000, '211.68.46.58', '全校用户'],
    [279000, 36151, 403840000, '211.68.36.151', '全校用户'],
    [279000, 36167, 419830000, '211.68.36.167', '全校用户'],
    [279000, 36221, 426770000, '211.68.36.221', '全校用户'],
    [279000, 46070, 427300000, '211.68.46.70', '全校用户'],
    [279000, 46057, 436440000, '211.68.46.57', '全校用户'],
    [279000, 46056, 445250000, '211.68.46.56', '全校用户'],
    [279000, 46082, 458340000, '211.68.46.82', '全校用户'],
    [279000, 36201, 460210000, '211.68.36.201', '全校用户'],
    [279000, 46052, 473140000, '211.68.46.52', '全校用户'],
    [279000, 36173, 497230000, '211.68.36.173', '全校用户'],
    [279000, 36219, 516400000, '211.68.36.219', '全校用户'],
    [279000, 36210, 527180000, '211.68.36.210', '全校用户'],
    [279000, 46054, 556220000, '211.68.46.54', '全校用户'],
    [279000, 36247, 605630000, '211.68.36.247', '全校用户'],
    [104000, 42041, 644970000, '45.59.42.41', '全校用户'],
    [279000, 46051, 670090000, '211.68.46.51', '全校用户'],
    [279000, 46074, 672080000, '211.68.46.74', '全校用户'],
    [217000, 250178, 697480000, '31.186.250.178', '全校用户'],
    [330000, 228187, 698290000, '123.207.228.187', '全校用户'],
    [279000, 36223, 768050000, '211.68.36.223', '全校用户'],
    [165000, 113160, 1035680000, '74.91.113.160', '全校用户'],
    [279000, 46005, 1581400000, '211.68.46.5', '全校用户'],
    [279000, 46101, 1726340000, '211.68.46.101', '全校用户'],
    [279000, 36108, 1928850000, '211.68.36.108', '全校用户'],
    [279000, 36041, 1931600000, '211.68.36.41', '全校用户'],
    [279000, 46006, 2198480000, '211.68.46.6', '全校用户'],
    [293000, 96001, 2407900000, '211.82.96.1', '全校用户'],
    [28000, 1210, 3019700000, '10.18.1.210', '全校用户'],
    [279000, 46102, 6648960000, '211.68.46.102', '全校用户'],
    [279000, 36251, 10129940000, '211.68.36.251', '全校用户']
  ],
  [
    [13000, 129138, 100000000, '10.3.129.138', '被采集用户'],
    [13000, 116220, 100000000, '10.3.116.220', '被采集用户'],
    [26000, 3070, 100000000, '10.16.3.70', '被采集用户'],
    [13000, 124252, 100000000, '10.3.124.252', '被采集用户'],
    [279000, 35165, 100000000, '211.68.35.165', '被采集用户'],
    [13000, 120012, 100000000, '10.3.120.12', '被采集用户'],
    [12000, 220129, 100000000, '10.2.220.129', '被采集用户'],
    [360000, 36035, 100000000, '192.168.36.35', '被采集用户'],
    [13000, 135128, 100000000, '10.3.135.128', '被采集用户'],
    [12000, 236193, 100000000, '10.2.236.193', '被采集用户'],
    [360000, 41019, 100000000, '192.168.41.19', '被采集用户'],
    [279000, 35230, 100000000, '211.68.35.230', '被采集用户'],
    [12000, 222197, 100000000, '10.2.222.197', '被采集用户'],
    [12000, 220194, 100000000, '10.2.220.194', '被采集用户'],
    [26000, 3115, 100000000, '10.16.3.115', '被采集用户'],
    [13000, 120136, 100000000, '10.3.120.136', '被采集用户'],
    [12000, 222112, 100000000, '10.2.222.112', '被采集用户'],
    [27000, 5070, 100000000, '10.17.5.70', '被采集用户'],
    [13000, 113052, 100000000, '10.3.113.52', '被采集用户'],
    [12000, 221096, 100000000, '10.2.221.96', '被采集用户'],
    [360000, 41016, 100000000, '192.168.41.16', '被采集用户'],
    [12000, 236248, 100000000, '10.2.236.248', '被采集用户'],
    [12000, 234072, 100000000, '10.2.234.72', '被采集用户'],
    [12000, 222164, 100000000, '10.2.222.164', '被采集用户'],
    [12000, 220108, 100000000, '10.2.220.108', '被采集用户'],
    [13000, 135121, 100000000, '10.3.135.121', '被采集用户'],
    [12000, 220183, 100000000, '10.2.220.183', '被采集用户'],
    [279000, 35238, 100000000, '211.68.35.238', '被采集用户'],
    [13000, 136199, 100000000, '10.3.136.199', '被采集用户'],
    [12000, 251088, 100000000, '10.2.251.88', '被采集用户'],
    [13000, 121110, 100000000, '10.3.121.110', '被采集用户'],
    [12000, 238139, 100000000, '10.2.238.139', '被采集用户'],
    [13000, 125153, 100000000, '10.3.125.153', '被采集用户'],
    [12000, 234033, 100000000, '10.2.234.33', '被采集用户'],
    [28000, 5151, 100000000, '10.18.5.151', '被采集用户']
  ],
];

optionC = {
  backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
    offset: 0,
    color: '#f7f8fa'
  }, {
    offset: 1,
    color: '#cdd0d5'
  }]),
  title: {
    text: '全校用户 与 被采集用户 IP分布'
  },
  legend: {
    right: 10,
    data: ['全校用户', '被采集用户']
  },
  xAxis: {
    splitLine: {
      lineStyle: {
        type: 'dashed'
      }
    }
  },
  yAxis: {
    splitLine: {
      lineStyle: {
        type: 'dashed'
      }
    },
    scale: true
  },
  series: [{
    name: '全校用户',
    data: data[0],
    type: 'scatter',
    symbolSize: function(data) {
      return Math.sqrt(data[2]) / 5e2;
    },
    label: {
      emphasis: {
        show: true,
        formatter: function(param) {
          return param.data[3];
        },
        position: 'top'
      }
    },
    itemStyle: {
      normal: {
        shadowBlur: 10,
        shadowColor: 'rgba(120, 36, 50, 0.5)',
        shadowOffsetY: 5,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
          offset: 0,
          color: 'rgb(251, 118, 123)'
        }, {
          offset: 1,
          color: 'rgb(204, 46, 72)'
        }])
      }
    }
  }, {
    name: '被采集用户',
    data: data[1],
    type: 'scatter',
    symbolSize: function(data) {
      return Math.sqrt(data[2]) / 5e2;
    },
    label: {
      emphasis: {
        show: true,
        formatter: function(param) {
          return param.data[3];
        },
        position: 'top'
      }
    },
    itemStyle: {
      normal: {
        shadowBlur: 10,
        shadowColor: 'rgba(25, 100, 150, 0.5)',
        shadowOffsetY: 5,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
          offset: 0,
          color: 'rgb(129, 227, 238)'
        }, {
          offset: 1,
          color: 'rgb(25, 183, 207)'
        }])
      }
    }
  }]
};
myChartC.setOption(optionC);

var myChartD = echarts.init(document.getElementById('d'));
optionD = {
  title: {
    text: '被采集用户 设备种类',
    subtext: '被采集用户 来源 2016/12／13 18:30-21:30'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: { // 坐标轴指示器，坐标轴触发有效
      type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
    },
    formatter: function(params) {
      var tar = params[1];
      return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: {
    type: 'category',
    splitLine: {
      show: false
    },

    data: ["总量", "Mac",
      "iPhone",
      "小米note2",
      "魅族note5",
      "联想ZUKZ21",
      "红米note3",
      "小米notepro",
      "小米2",
      "小米5s",
      "华为",
      "not"
    ]
  },
  yAxis: {
    type: 'value'
  },
  series: [{
    name: '辅助',
    type: 'bar',
    stack: '总量',
    itemStyle: {
      normal: {
        barBorderColor: 'rgba(0,0,0,0)',
        color: 'rgba(0,0,0,0)'
      },
      emphasis: {
        barBorderColor: 'rgba(0,0,0,0)',
        color: 'rgba(0,0,0,0)'
      }
    },
    data: [0, 39, 23, 20, 19, 17, 16, 15, 14, 13, 12, 0]
  }, {
    name: '设备种类',
    type: 'bar',
    stack: '总量',
    label: {
      normal: {
        show: true,
        position: 'inside'
      }
    },
    data: [42, 3, 16, 3, 1, 2, 1, 1, 1, 1, 1, 12]
  }]
};

myChartD.setOption(optionD);
</script>

</html>